@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,200;0,300;0,400;0,800;0,900;1,100;1,700&family=Montserrat:wght@100;400&display=swap');
* {
    margin: 0;
    font-family: Bitter;
    font-weight: 400;
}

body {
    display: flex;
    justify-content: center;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(white, #e2e8f0);
    z-index: 2;
}

.brand-logo {
    font-family: Montserrat;
}

header a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

header ul {
    width: 100%;
    max-width: 900px;
}

header a.nav {
    margin-left: 2.2em;
    font-size: 0.8em;
    float: right;
}

footer.page-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 3;
    background-color: #2d3748;
    color: white;
    height: fit-content;
}

div#backg {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(33, 33, 37, 0.34);
}

main {
    margin-top: 3em;
    width: 100%;
    display: flex;
    flex-direction: column;
    word-break: keep-all;
    line-height: 2.2rem;
    z-index: 2;
}

div#title_bg {
    height: 70vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: fixed;
    filter: brightness(80%);
    margin-top: 2rem;
}

main div#title {
    text-align: center;
    color: white;
    height: 57vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main div#sub {
    display: flex;
    flex-direction: column;
    height: fit-content;
    background: linear-gradient(#f7fafc, #e2e8f0);
    width: 100%;
    padding: 20%;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.innersub {
    max-width: 700px;
}

main p {
    font-weight: 900;
    font-size: 2.3em;
}

table {
    margin: 0.5rem;
}

thead tr th {
    text-align: left;
    font-weight: 600;
}

tr {
    border-bottom: 1px solid black;
}

td {
    vertical-align: top!important
}

h5 {
    font-size: 1.1rem!important;
    font-weight: 600!important;
    margin-bottom: 0rem!important;
}

div.main_card {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.85);
    color: black;
    text-shadow: none;
    text-align: left;
    padding: 0.4rem;
    line-height: 1.8rem;
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.6);
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

div.main_card::-webkit-scrollbar {
    display: none;
}

.main_card_people p {
    font-weight: bolder;
    margin-bottom: 0;
    font-size: 0.8rem;
}

.main_card_people ul {
    font-size: 0.7rem;
}

.main_card_people ul li {
    margin: 0;
    list-style: none;
}

.main_card_sw {
    font-size: 1rem;
    margin-bottom: 2rem;
}

.main_card_sw p {
    font-size: 1.3rem;
}

.research_papers ul li {
    line-height: 1.2rem;
    margin-top: 1rem;
}

.name {
    border-bottom: 1px #2d3748;
    text-decoration: underline;
}

.introd {
    font-size: .9rem;
    color: #3d444e;
}

.not_bold_p p {
    font-weight: 500;
}

.not_bold_p b {
    font-weight: 800;
}

div.main_card table {
    width: 100%;
    font-size: 0.9rem;
}

table tbody {
    font-size: 0.8rem;
}

@media (min-width: 650px) {
    header {
        font-size: 1.3rem;
    }
    main p {
        font-size: 2em;
    }
    .main_card_people p {
        font-size: 1.1rem;
    }
    .main_card_people ul {
        font-size: 0.9rem;
    }
}

@media (max-width: 450px) {
    header a {
        margin-left: 0.8rem;
    }
    main {
        font-weight: lighter;
        font-size: 0.9rem;
    }
}

@media (max-width: 700px) {
    main div#sub {
        padding-left: 5%;
        padding-right: 5%;
    }
}